*{
    margin: 0;
}

body{
    background-image:url("./rabbit-g486277460_1280.png");
    background-size: cover;
}

h1{
    margin-top:35vh;
    font-size:100px ;
    text-align: center;
    color: rgb(255, 255, 255);
}
